body {
    background-color: teal;
}

h1 {
    font-family: 'Bangers', cursive;
    margin: 0 auto; 
}

.btn btn-secondary btn-lg {
    background-color: black;
    color: white;
    font-family: 'Bangers', cursive;
}